@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo,
.user-login {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.user-login {
  min-width: 100px;
  display: flex;
  justify-content: right;
}

.search-bar {
  width: 600px;
  display: flex;
  justify-content: center;
  position: relative;

  form {
    display: flex;
    justify-content: center;
    width: 70%;
    button {
      padding: 0px 8px;
      font-size: 20px;
      cursor: pointer;
      height: 38px;
    }
  }

  input {
    font-size: 18px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: 38px;
    outline: none;

    &:focus ~ .search-history {
      display: block;
    }
  }

  .search-history {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    left: calc(0% + 90px);
    border-radius: 3px;
    overflow: hidden;
    width: 70%;
    color: #0f171e;
    background-color: #ffffff;

    p {
      margin: 0;
      font-size: 1.4rem;
      color: #999;
      padding: 10px 12px;
    }
  }
}

.user-login-info {
  position: relative;
  display: flex;
  align-items: center;

  .user-logout {
    position: absolute;
    bottom: -24px;
    right: 0;
    min-width: 76px;
    display: none;
  }

  &:hover .user-logout {
    display: block;
  }

  i {
    margin-left: 14px;
    font-size: 14px;
  }
}
